.activity-section {
    display: flex;
    padding-bottom: 94px;
    padding-top: 94px;

}

.activity {
    font-weight: 700;
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondory-color;
    margin-bottom: 50px;

}

.activity__img {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

}

.thumb {
    position: relative;
    display: flex;
}

.activity__thumb {
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    width: 370px;
    bottom: 0;
    height: 70px;
    align-items: center;

}

.activity__p {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
    text-align: center;

}