body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color:$background-color;
    font-style: normal;
    text-decoration: none;
    color: $white-color;
    margin: auto;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

button {
    font-family: inherit;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
button {
    cursor: pointer;
    font-family: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.no-scroll {
    overflow: hidden;

    @media screen and (min-width: 768px) {
        overflow: auto;
    }
}