.crew {
    .crew__item {
        display: flex;
        flex-direction: column;

        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
    }

    &__photo {
        @media screen and (max-width: 767px) {
            width: 450px;
            height: 460px;
        }

        @media screen and (min-width: 768px) {
            width: 354px;
            height: 374px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
            height: 260px;
        }
    }

    &__label {
        display: flex;
        flex-direction: column;
        padding: 30px;
        border-radius: 0px 0px 4px 4px;
        background-color: $white-color;

        @media screen and (max-width: 1199px) {
            padding-bottom: 24px;
        }
    }

    &__name {
        margin-bottom: 10px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;

        text-align: center;
        letter-spacing: 0.03em;
    }

    &__job {
        margin-bottom: 16px;

        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $text-grey;
    }

    &__social {
        display: flex;
        justify-content: center;
    }

    .social__item {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    .social__link {
        display: flex;
        box-sizing: content-box;
        padding: 12px;

        border-radius: 50%;

        fill: $soc-icon-grey;
        background-color: transparent;
        transition: fill $transition, background-color $transition;

        &:focus,
        &:hover {
            fill: $white-color;
            background-color: $accent-color;
        }
    }
}