.features-section{
    display: flex;
        justify-content: center;
        margin: 0;
        padding-top: 100px;
}

.features{
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.features__set{
    display: flex;
        margin: 0;
        padding: 0;
        justify-content: space-between;
}

.features__list{
    width: 270px;
}

.features__svg{
    display: flex;
        width: 270px;
        height: 120px;
        background-color: #F5F4FA;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        border-radius: 4px;
    
}

.features__title{
    text-transform: uppercase;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.03em;
    
}

.features__text{
    width: 270px;
        height: 75px;
        color: $primary-color;
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
}
