.header {
    border-bottom: 1px solid rgba(236, 236, 236, 1);

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 767px) {
            height: 60px;
        }
    }

    .nav {
        @media screen and (min-width: 768px) {
            margin-left: 93px;
        }
    }

    .contact {
        margin-left: auto;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;

    transform: translateX(100%);

    display: flex;
    flex-direction: column;
    padding: 48px 40px;
    width: 100vw;
    height: 100vh;

    background-color: #fff;

    transition: transform 400ms ease-in;
} 
.mobile-menu {
    display: none;

    @media (max-width: 767px) {
        position: fixed;
        top: 0;
        left: 0;
        padding: 48px 40px;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;

    background-color: transparent;
    border: none;

    cursor: pointer;

    &:focus {
        fill: $accent-color;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mobile-menu-socials {
    @media (max-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;

        color: #2196f3;

        .mobile-menu-link {
            color: currentColor;
        }

        .mobile-menu-social {
            &:not(:last-child) {
                padding-right: 10px;

                border-right: 1px solid rgba(33, 33, 33, 0.2);
            }
        }
    }
}

@media (min-width: 768px) {
    .mobile-menu-socials {
        display: none;
    }
}



.mobile-menu.is-open {
    transform: translateX(0);

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.icon-open {
    opacity: 1;
}

.menu-btn.is-open .icon-open {
    opacity: 0;
}

.menu-btn.is-open {
    position: relative;

    z-index: 10;
}

.icon-close {
    opacity: 0;
}

.menu-btn.is-open .icon-close {
    opacity: 1;
}

.header-tab-desk {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
    }
}